.card {
  border-radius: var(--border-radius);
  display: flex;
  box-shadow: var(--shadow);
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.information {
  flex: 3;
  padding: var(--l);
}

.price {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white-color);
  padding: var(--l);
  text-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.75);
}

.header {
  display: flex;
  justify-content: space-between;
}

.image-wrapper {
  position: relative;
}

.image-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px -4px 8px 0px hsla(0, 0%, 0%, 0.09);
}

.sold {
  filter: grayscale(1);
}

.sold-text {
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: center;
  top: 31px;
  left: -50px;
  color: var(--on-red-color);
  font-size: var(--title-font-size);
  background-color: var(--red-color);
  width: 200px;
  text-align: center;
}

.name {
  display: flex;
}

.information > * {
  margin-bottom: var(--m);
}

.first-letter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: var(--white-color);
  background-color: var(--type-color);
}

.type {
  margin-left: var(--s);
}

.buy {
  --type-color: var(--red-color);
}

.sell {
  --type-color: var(--green-color);
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  border: none;
  border-radius: 9999px;
  padding: var(--xs) var(--m);
  border: 1px solid var(--tag-color);
  color: var(--tag-color);
  margin-right: var(--s);
}

.tag-lifestyle {
  --tag-color: var(--blue-color);
}

.tag-mobile {
  --tag-color: var(--red-color);
}

.tag-work {
  --tag-color: var(--yellow-color);
}
