@import url("https://fonts.googleapis.com/css?family=Lato:300i,400,700|Nunito:900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Spacing */
  --xs: 0.25rem;
  --s: 0.5rem;
  --m: 1rem;
  --l: 2rem;
  --xl: 4rem;
  --content-width: 40rem;

  /* Theme */
  --primary-color: hsl(220, 96%, 38%);
  --on-primary-color: white;
  --secondary-color: hsl(214, 76%, 26%);
  --on-secondary-color: white;
  --accent-color: hsl(42, 82%, 53%);
  --on-accent-color: hsl(0, 0%, 12%);

  /* Font */
  --body-font: "Lato", sans-serif;
  --header-font: "Nunito", sans-serif;
  --title-font-size: 22px;
  --body-font-size: 16px;

  /* Colors */
  --white-color: white;
  --on-white-color: hsl(0, 0%, 12%);
  --blue-color: hsl(220, 96%, 38%);
  --on-blue-color: white;
  --red-color: hsl(7, 76%, 50%);
  --on-red-color: hsl(0, 0%, 12%);
  --yellow-color: hsl(49, 100%, 41%);
  --on-yellow-color: hsl(0, 0%, 12%);
  --green-color: hsl(120, 100%, 25%);
  --on-green-color: hsl(0, 0%, 12%);

  /* Misc */
  --border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}
