.border {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px;
  grid-gap: 10px;
}

.ad {
  border: 2px solid rgb(192, 190, 190);
  border-radius: 20px;
  background-color: #fafafa;
}

.header {
  color: white;
  background-color: rgb(39, 37, 37);
  border-radius: 10px;
}

.adinfo {
  justify-content: center;
}

.adprice {
  color: red;
}

.adimage {
  max-width: 80px;
}

.tags {
  background-color: rgb(184, 185, 185);
  max-width: max-content;
  border-radius: 5px;
}
