.border {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding: 40px;
  grid-gap: 10px;
}

.ad {
  border: 2px solid rgb(192, 190, 190);
  border-radius: var(--border-radius);
  background-color: #fafafa;
}

.header {
  padding: var(--s);
  color: var(--on-secondary-color);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.info {
}

.price {
  color: var(--red-color);
}

.image {
  width: 100%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  border: none;
  border-radius: 9999px;
  padding: var(--xs) var(--s);
}

.tag-lifestyle {
  color: var(--on-blue-color);
  background-color: var(--blue-color);
}

.tag-mobile {
  color: var(--on-red-color);
  background-color: var(--red-color);
}

.tag-work {
  color: var(--on-yellow-color);
  background-color: var(--yellow-color);
}

.footer {
  border-top: 1px solid black;
}
