.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-color);
  border-radius: 9999px;
  padding-left: var(--s);
  position: relative;
  z-index: 1;
}

.input {
  border: none;
  background: none;
  outline: none;
  width: min-content;
}

.input-icon {
  margin-right: var(--s);
}

.label {
  cursor: pointer;
  margin-right: var(--m);
  user-select: none;
}

.dropdown {
  position: absolute;
  top: calc(100% + var(--s));
  background-color: var(--surface-color);
  padding: var(--m);
  z-index: 2;
  box-shadow: var(--shadow);
}

.buttons {
  display: flex;
  justify-content: space-between;
}
