.wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap-reverse;
  }
}

.filter {
  transform: translateX(50px);
  opacity: 0;
  transition: 0.5s ease-in !important;
  transition-property: transform opacity;
  margin-right: var(--s);
}

.is-shown {
  transform: translateX(0);
  opacity: 1;
}

.search {
  position: relative;
  z-index: 1;
}

.filter-one {
  transition-delay: 0.1s !important;
}

.filter-two {
  transition-delay: 0.2s !important;
}

.filter-three {
  transition-delay: 0.3s !important;
}

.filter-four {
  transition-delay: 0.4s !important;
}
