.wrapper {
  flex-wrap: wrap;
}

.wrapper > * {
  flex: 1;
  min-width: max-content;
}

.margin {
  padding: var(--l);
  display: flex;
}

.button {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
