.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  border-bottom: ridge;

  padding-bottom: var(--s);
}

.dropdown {
  min-width: max-content;
}

.button {
  padding: var(--l);
  margin-top: var(--m);
}
