.search {
  display: flex;
  justify-content: flex-end;
}

.searchbar {
  border-radius: var(--m);
}

.filter {
  max-width: 40px;
  display: flex;
  justify-items: center;
  align-content: center;
  cursor: pointer;
}
