.border {
  display: flex;
  max-height: max-content;
  max-width: max-content;
}

.ad {
  display: grid;
  grid-template-rows: repeat(200px, 2fr);
  border: 2px solid rgb(192, 190, 190);
  border-radius: 20px;
  border-style: groove;
  margin-top: 50px;
  margin-left: 10px;

  width: 50%;
  background-color: #fafafa;
}
.header2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, Geneva,
    Tahoma, sans-serif;
  color: white;
  background-color: rgb(39, 37, 37);
  border-radius: 10px;
}
.adinfo {
  justify-content: center;
  font-family: cursive;
}
.adprice {
  color: red;
  font-family: cursive;
}

.adimage {
  max-width: 80px;
}

.tags {
  background-color: rgb(184, 185, 185);
  max-width: max-content;
  border-radius: 5px;
}
